@import "bootstrap/scss/bootstrap";

:root {
  --accent: #49e188;
}
// Custom styles that override Bootstrap
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  font-family: "Manrope", sans-serif;
}

.small {
  font-size: 0.8rem;
}
.text-accent {
  color: var(--accent) !important;
}

.font-console {
  font-family: "IBM Plex Mono", monospace;
}

.table {
  font-family: "IBM Plex Mono", monospace;
  font-size: 0.8rem;
  background-color: transparent;
}
.table > :not(caption) > * > * {
  background-color: transparent;
}
th {
  background-color: #2b3134 !important;
  font-weight: 500;
  font-size: 0.8rem;
}
td {
  vertical-align: middle;
}

.btn-main {
  font-family: "IBM Plex Mono", monospace;
  text-transform: uppercase;
  font-size: 0.8rem;
  border-radius: 0px;
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #ffffff;
}
.btn-main:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: #000000;
  border-color: #ffffff;
}

.btn-close {
  background-image: none;
}

.btn-negative {
  font-family: "IBM Plex Mono", monospace;
  text-transform: uppercase;
  font-size: 0.8rem;
  border-radius: 0px;
  background-color: #ae4d41;
  color: #ffffff;
  border: 1px solid #ae4d41;
}
.btn-negative:hover {
  background-color: rgba(174, 77, 65, 0.8);
  color: #ffffff;
  border-color: #ae4d41;
}
.btn-dark {
  font-family: "IBM Plex Mono", monospace;
  text-transform: uppercase;
  font-size: 0.8rem;
  border-radius: 0px;
  background-color: #2b3134;
  color: #ffffff;
  border: 1px solid #2b3134;
}
.btn-dark:hover {
  background-color: rgba(43, 49, 52, 0.8);
  color: #ffffff;
  border-color: #2b3134;
}

.dropdown-menu {
  padding: 8px;
  border-radius: 0px;
}
.dropdown-item {
  padding: 0.25rem 0.25rem;
}

.form-control {
  border-radius: 0px;
}

.badge {
  text-transform: uppercase;
  font-size: 0.8rem;
  border-radius: 0px;
}

.modal-header,
.modal-footer {
  border: none;
  border-radius: 0px;
}

.modal-header {
  background-color: #2b3134 !important;
}

.modal-content {
  border-radius: 0px;
}

#logOutput {
  min-height: 300px;
  font-size: 0.8rem;
  color: #eee;
  margin: 0;
}

.form-label {
  font-family: "IBM Plex Mono", monospace;
  text-transform: uppercase;
  font-size: 0.8rem;
  margin-bottom: 4px;
}

.badge-success {
  background-color: #204736;
  color: #56ad87;
}

.badge-danger {
  background-color: #542a26;
  color: #ae4d41;
}

footer p {
  font-size: 0.8rem;
  color: #6c757d;
  margin: 0;
}

.health-indicator {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 5px;
  background-color: #49e188; /* Default color */
  box-shadow: 0 0 0 0 rgb(72, 222, 82, 1);
  transform: scale(1);
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(72, 222, 82, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 8px rgba(72, 222, 82, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(222, 84, 72, 0);
  }
}
